@using MvcCv.Models;

@{
    Layout = null;
}

<form method="post">
    <label>Ad Soyad</label>
    <input type="text" name="Adsoyad" class="form-control" />
    <label>E-Posta</label>
    <input type="email" name="Mail" class="form-control" />
    <label>Konu</label>
    <input type="text" name="Konu" class="form-control" />
    <label>Mesaj</label>
    <input type="text" name="Mesaj" class="form-control" />


    <button class="btn btn-success mt-2">İletişime Geç</button>
</form>
