@using MvcCv.Models
@model List<TBL_SERTİFİKA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col -->
            <div class="col-md-12">
                <a href="/Sertifika/SertifikaEkle" class="btn btn-success mt-3">Sertifika Ekle</a>
                <div class="card mt-4">

                    <div class="card-body">
                        @foreach (var item in Model)
                        {
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <div class="timeline timeline-inverse">
                                    <!-- timeline time label -->
                                    <div class="time-label">
                                        <span class="bg-danger">
                                            @item.Tarih
                                        </span>
                                    </div>
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <div>
                                        <i class="fas fa-certificate bg-primary"></i>
                                        <div class="timeline-item">
                                            <div class="timeline-body">
                                                @item.Aciklama
                                            </div>
                                            <div class="timeline-footer">
                                                <a href="/Sertifika/SertifikaGetir/@item.ID" class="btn btn-primary btn-sm">Düzenle</a>
                                                <a href="/Sertifika/SertifikaSil/@item.ID" class="btn btn-danger btn-sm">Sil</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>

</section>

